@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --disable-default-colors: false;
  
  --color-argon-20: oklch(0.98 0.02 320);
  --color-argon-50: oklch(0.95 0.05 320);
  --color-argon-100: oklch(0.88 0.09 320);
  --color-argon-200: oklch(0.81 0.14 320);
  --color-argon-300: oklch(0.74 0.19 320);
  --color-argon-400: oklch(0.65 0.24 320);
  --color-argon-500: oklch(0.55 0.28 320);
  --color-argon-600: oklch(0.48 0.24 320);
  --color-argon-700: oklch(0.41 0.2 320);
  --color-argon-800: oklch(0.34 0.16 320);
  --color-argon-900: oklch(0.27 0.12 320);
  --color-argon-950: oklch(0.2 0.08 320);

  --color-argon-text-primary: #4b2b4e;

  --color-argon-menu-bg: #fdfcfd;
  --color-argon-menu-hover: #f7edf8;
  --color-argon-button: #a600d4;
  --color-argon-button-hover: #8000a8;

  --color-argon-error: #dc3545;
  --color-argon-error-darker: #c62030;
  --color-argon-error-darkest: #800000;

  --text-md: 15px;
}

@utility inner-button-shadow {
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
}

@utility inner-input-shadow {
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

@utility inner-input-shadow-2 {
  box-shadow: inset 2px 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.pulse-network-header {
    animation: pulse-network-header 1.5s ease-in-out infinite;
    transform-origin: center bottom;
}

@keyframes pulse-network-header {
    0%,
    100% {
        color: oklch(0.48 0.24 320);
        opacity: 0.8;
    }
    50% {
        color: oklch(0.41 0.2 320);
        opacity: 1;
    }
}

:root {
  --bg-transparent: rgba(249, 242, 250, 0);
  --bg-color: rgb(249, 242, 250);
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

body #gtlyTrial1736952351985container {
  pointer-events: none !important;
  visibility: hidden !important;
}

a:not([class*="text-"]) {
  @apply text-argon-800/70 hover:text-argon-600 underline decoration-dashed hover:decoration-solid;
}